body {
	background: #AFF7B8 !important;
	margin : 1cm 10cm 0cm 10cm !important;
}

h1 {
	color: #610B0B;
}

p {
    text-align: justify;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}
